* {
    background-color: whitesmoke
}

.foot {
    font-weight: lighter;
    text-align: center;
}

.welcome {
    text-align: center;
    font-weight: bold;
}

.content {
    text-align: center;
}

.buttons {
    margin: 0;
    position: absolute;
    top: 30%;
    -ms-transform: translateX(475%);
    transform: translateX(475%);
}